<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
  <link href="./style.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=Rubik:ital,wght@0,300;0,700;1,300;1,700&display=swap"
    rel="stylesheet" type="text/css" />
</head>

<body>
  <div></div>
  <div class="body">
    <header>
      <div id="logo">zero.druchan.com</div>
      <blockquote class="blog-description">
        musings from "code escapades" and other programming stuff.
      </blockquote>
    </header>
    <div class="posts-header">
      All posts (latest created/updated first):
    </div>
    {content}
  </div>
  <div></div>
</body>

</html>